<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a
        routerLink="/"
        class="d-inline-flex link-body-emphasis text-decoration-none"
      >
        NGJobsPortal
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="#" class="nav-link px-2 link-secondary">For Job seekers</a>
      </li>
      <li>
        <a href="#" class="nav-link px-2 link-secondary">For employers</a>
      </li>
      <li>
        <a href="#" routerLink="/post-job" class="nav-link px-2 link-secondary"
          >Post a job</a
        >
      </li>
      <!-- <li><a href="#" class="nav-link px-2">FAQs</a></li>
      <li><a href="#" class="nav-link px-2">About</a></li> -->
    </ul>

    <div class="col-md-3 text-end">
      <button
        type="button"
        routerLink="/login"
        class="btn btn-outline-primary me-2"
      >
        Login
      </button>
      <button type="button" routerLink="/register" class="btn btn-primary">
        Sign-up
      </button>
    </div>
  </header>
</div>
